.button {
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #449d44;
  color: white;
  border: none;
}

.button:hover {
  background-color: #306d30;
}

.button:focus {
  outline: none;
}
